/*#8Nmt60ZT
– створити блок,
– додати йому класи wrap, collapse, alpha, beta
– додати стилі(довільні значення) : колір фону, колір тексту, розмір тексту
– додати цей блок в body.
– клонувати його повністю, та додати клон в body.*/

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.wrap {
    width: 50%;
    height: 20px;
}

.collapse {
    background-color: red;
    color: whitesmoke;
}

.alpha {
    border: 1px solid;
}

.beta {
    margin: 5px 10px;
    padding: 10px;
}






